1. the `Person` class has a constructor that takes `name` and `age` as arguments and assigns them to the object's attributes. The `introduce` method is then invoked on the object to introduce the person.

In [1]:
# Ans1
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def personname(self):
        print(f" name is {self.name} and age is {self.age}")

In [2]:
person1=person("harsh",18)

In [3]:
person1.personname()

 name is harsh and age is 18

2. the `Car` class has a constructor that takes `brand` and `model` as arguments and assigns them to the object's attributes. The `display_info` method is then invoked on the object to display the car's brand and model.

In [4]:
# Ans2
class car:
    def __init__(self,brand,modal):
        self.brand = brand
        self.modal = modal

    def carname(self):
        print(f" the brand name is {self.brand} and modal name is {self.modal}")

In [ ]:
car1=car("tata",2022)

In [ ]:
car1.carname()

3. the `BankAccount` class has a constructor that takes `account_number` and `balance` as arguments and assigns them to the object's attributes. The `display_balance` method is then invoked on the object to display the account number and balance.

In [14]:
# Ans =3
class BankAccount:
    def __init__(self,name,account_number,balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def bankAccountname(self):
        print(f" the name is {self.name} the bankaccount number is {self.account_number} and the bankaccount balance{self.balance}")

In [6]:
bankAccount1=BankAccount( "harsh","123455467",100000)

In [15]:
bankAccount1.bankAccountname()

 the name is harsh the bankaccount number is 123455467 and the bankaccount balance100000

4.  the `MobilePhone` class has a constructor that takes `brand` and `model` as arguments and assigns them to the object's attributes. The `make_call` method is then invoked on the object to make a call with the phone.

In [8]:
# Ans 4
class MobilePhone:
    def __init__(self,brand,modal):
        self.brand = brand
        self.modal = modal

    def make_call(self):
         print(f"the brand name is {self.brand} and the modal name is {self.modal}")

In [9]:
mobilePhone1=MobilePhone("i phone","16 pro max")

In [10]:
mobilePhone1.make_call()

the brand name is i phone and the modal name is 16 pro max

5. the `Book` class has a constructor that takes `title` and `author` as arguments and assigns them to the object's attributes. The `display_info` method is then invoked on the object to display the book's title and author.

In [16]:
# Ans 5
class Book:
    def __init__(self,title,author):
        self.title = title
        self.author = author

    def Book(self):
        print(f"the title name is {self.title} and the author name is {self.author}")

In [17]:
Book1 = Book(" the lost spring","anees jung")

In [18]:
Book1.Book()

the title name is  the lost spring and the author name is anees jung

6. Vehicles: Create a base class called Vehicle with attributes such as make, model, and year. Implement two subclasses Car and Motorcycle that inherit from Vehicle. Add additional methods to the subclasses, such as start_engine() and stop_engine(), and handle any specific behavior or rules for each vehicle type.

In [19]:
# Ans 6
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        pass

In [20]:
class car(Vehicle):
    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year

    def stop_engine(self):
            print(f" the make name is {self.make} and the model name is {self.model} and the year name is {self.year}")

In [21]:
car1=car( "toyota","xuv 700","2024")

In [22]:
car1.stop_engine()

 the make name is toyota and the model name is xuv 700 and the year name is 2024

In [23]:
class Motorcycle(Vehicle):
    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year

    def stop_enginename(self):
        print(f"the make name is {self.make} and the model name is {self.model} and the year name is {self.year}")

In [24]:
Motorcycle1=Motorcycle("bajaj","110cc","2024",)

In [25]:
Motorcycle1.stop_enginename()

the make name is bajaj and the model name is 110cc and the year name is 2024

7. Animals: Create a base class called Animal with methods such as eat() and sleep(). Implement two subclasses Dog and Cat that inherit from Animal. Add additional methods to the subclasses, such as bark() for dogs and meow() for cats, and handle any specific behavior or rules for each animal type.

In [26]:
# Ans 7
class Animals:
    def __init__(self,eat,sleep):
        self.eat = eat
        self.sleep = sleep

    def sound(self):
        pass

In [27]:
class dog(Animals):
    def __init__(self,eat,sleep):
        self.eat = eat
        self.sleep = sleep

    def bark(self):
        print(f"the dog is eat {self.eat} and the dog is sleep {self.sleep}")

In [28]:
dog1=dog("meat","5 to 6 hours sleep")

In [29]:
dog1.bark()

the dog is eat meat and the dog is sleep 5 to 6 hours sleep

In [30]:
class cat(Animals):
    def __init__(self,eat,sleep):
        self.eat = eat
        self.sleep = sleep

    def meow(self):
        print(f" the cat is eat {self.eat} and the cat is sleep {self.sleep}")

In [31]:
cat1=cat("milke","9 10 hours sleep")

In [32]:
cat1.meow()

 the cat is eat milke and the cat is sleep 9 10 hours sleep

8. Library Catalog: Create a base class called LibraryItem with attributes such as title, author, and publication_year. Implement two subclasses Book and Magazine that inherit from LibraryItem. Add additional methods to the subclasses, such as checkout() and return_item(), and handle any specific behavior or rules for each item type.

In [33]:
# Ans 8
class Library:
    def __init__(self,title,author,publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year

In [34]:
class Book(Library):
    def __init__(self,title,author,publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year

    def checkout(self):
        print(f" the title name is {self.title} and the author name is {self.author} and the publication_year name is {self.publication_year}")

In [35]:
Book1=Book(" the last lesson","Alphonse Daudet","2023")

In [36]:
Book1.checkout()

 the title name is  the last lesson and the author name is Alphonse Daudet and the publication_year name is 2023

In [37]:
class Magazine(Library):
    def __init__(self,title,author,publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year

    def return_item(self):
        print(f" the title name is {self.title} and the author name is {self.author} and the publication_year name is {self.publication_year}")

In [38]:
Magazine1=Magazine("deep water","patricia highsmith","1870")

In [39]:
Magazine1.return_item()

 the title name is deep water and the author name is patricia highsmith and the publication_year name is 1870

9. Employees and Departments: Create a base class called Employee with attributes such as name, salary, and department. Implement two subclasses Manager and Staff that inherit from Employee. Add additional methods to the subclasses, such as assign_task() for managers and attend_meeting() for staff members. Create a separate class called Department that contains a list of employees and methods to add or remove employees from the department.

In [40]:
# Ans 9
class Employee:
    def __init__(self, name, salary, department):
        self.name = name
        self.salary = salary
        self.department = department

In [41]:
class managers(Employee):
    def __init__(self, name, salary, department):
        self.name = name
        self.salary = salary
        self.department = department

    def assign_task(self):
         print (f"name {self.name}, Salary: {self.salary}, Department: {self.department}")

    def attend_meeting(self):
        print(f"name {self.name}, Salary: {self.salary}, Department: {self.department}")

In [42]:
class staff(Employee):
    def __init__(self, name, salary, department):
        self.name = name
        self.salary = salary
        self.department = department

    def assign_task(self):
         print (f"name {self.name}, Salary: {self.salary}, Department: {self.department}")

    def attend_meeting(self):
        print(f"name {self.name}, Salary: {self.salary}, Department: {self.department}")

In [43]:
managers1=managers("harsh","50000","finance")

In [44]:
managers1.assign_task()

name harsh, Salary: 50000, Department: finance

In [45]:
staff1=staff("nitin","2000","business")
staff1.assign_task()

name nitin, Salary: 2000, Department: business

10. Bank Transactions: Create a base class called BankAccount with attributes such as account_number and balance. Implement subclasses for different types of accounts such as CheckingAccount and SavingsAccount that inherit from BankAccount. Add additional methods to the subclasses, such as withdraw() and deposit(), and handle any specific behavior or rules for each account type.

In [46]:
# Ans 10
class BankAccount:
    def __init__(self,account_number,balance):
        self.account_number = account_number
        self.balance = balance

In [47]:
class CheckingAccount(BankAccount):
    def __init__(self,account_number,balance):
        super().__init__(account_number,balance)

    def  withdraw(self):
        print(f"account_number {self.account_number} and balance {self.balance}")

In [48]:
class SavingsAccount(BankAccount):
    def __init__(self,account_number,balance):
        super().__init__(account_number,balance)
    def deposit(self):
        print(f"account_number {self.account_number} and balance {self.balance}")

In [49]:
CheckingAccount1=CheckingAccount("866354974657",10000000)

In [50]:
CheckingAccount1.withdraw()

account_number 866354974657 and balance 10000000

In [51]:
savingsaccount1=SavingsAccount("866354974657",1000000000)

In [52]:
savingsaccount1.deposit()

account_number 866354974657 and balance 1000000000

11. School Management System: Create a base class called Person with attributes such as name, age, and address. Implement subclasses for different roles such as Student, Teacher, and Staff that inherit from Person. Add additional methods to the subclasses, such as take_exam() for students and teach_subject() for teachers.

In [59]:
# Ans11
class Person:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age
        self.address = address

In [60]:
class student(Person):
    def __init__(self,name,age,address):

        super().__init__(name,age,address)

    def take_exam(self):

        print(f" the name is {self.name} age{self.age} address   {self.address}")

In [61]:
class teacher(person):
    def __init__(self,name,age,address):
        super().__init__(name,age,address)

    def teach_subject(self):
        print(f" the name is {self.name} age {self.age} address {self.address}")

In [62]:
class staff(person):
    def __init__(self,name,age,address):
        super().__init__(name,age,address)

    def take_exam(self):
        print(f" the name is {self.name} age {self.age} address {self.address}")

    def teach_subject(self):
        print(f" the name is {self.name} age {self.age}  address  {self.address}")

In [ ]:
person1=person("harsh","18","jarthal")

In [71]:
student1=student("harsh","18","jarthal")

In [72]:
student1.take_exam()

 the name is harsh age18 address   jarthal

In [ ]:
teacher1=teacher("mahipal","27","alwar")

In [ ]:
teacher1.teach_subject()

In [ ]:
staff1=staff("harsh","18","jarthal")

In [ ]:
staff1.take_exam()

In [ ]:
staff1.teach_subject()